body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


/*стилизация линии разделяющей колонки*/

hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 40px 0;
    border: 0;
    background-color: #808080;
}


/* Container*/

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


/*Intro*/

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url(../images/fotoman.jpg) center, no-repeat;
    background-size: cover;
    background-size: cover;
}


/*размеры центральной надписи*/

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}


/*заголовок intro__title*/

.intro__title {
    color: #388ee4;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}


/*линия под заголовком*/

.intro__title:after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    margin: auto;
    background-color: #388ee4;
}


/*надпись над текстом*/

.intro__suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    color: #388ee4;
}


/*header*/

.header {
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__inner:hover {
    cursor: pointer;
}


/*header__logo*/

.header__logo {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Kaushan Script', cursive;
    color: #fff;
}


/*Navigations*/

.nav {
    font-size: 14px;
    text-transform: uppercase;
}


/*decoration nav__link*/

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    position: relative;
    color: #000000;
    text-decoration: none;
    transition: color 0.2s linear;
}


/*делаем линию под навигацией*/

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    display: none;
    background-color: #388ee4;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}

.nav__link:hover {
    color: #fff;
}

.nav__link:hover:after {
    display: block;
}


/*button*/

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 25px;
    border: 2px solid #fff;
    font-size: 14px;
    font-weight: 700;
    color: #388ee4;
    text-transform: uppercase;
    text-decoration: none;
    transition: background 0.1s linear, color 0.1s linear;
}

.btn:hover {
    background-color: #fff;
    color: #ff0000;
}


/*slider- раскраска нижних элементов под кнопкой*/

.slider {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}


/*slider_item - стилизация нижних строк*/

.slider__item {
    width: 24%;
    padding: 20px 0;
    border-top: 3px solid #fff;
    opacity: 0.7;
    position: relative;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}


/*делаем активную ссылку епрозрачную*/

.slider__item.active {
    opacity: 1;
}

.slider__item.active:before {
    content: "";
    display: block;
    position: absolute;
    background-color: #388ee4;
    width: 70px;
    height: 3px;
    z-index: 1;
    top: -3px;
    left: 0;
}

.slider__num {
    font-size: 20px;
}


/*Section-создание второго блока*/

.section {
    padding: 80px 0;
}

.section--devices {
    margin-bottom: 60px;
    background: url(images/images/mogo3.jpg) center no-repeat;
    background-size: cover;
    padding-bottom: 0;
}


/*часть четвертого блока */

.section--gray {
    background-color: #f8f8f8;
}


/*стилизация 5-ого блока*/

.section--clients {
    background: #f5f5f5 url(../images/works/mogo3.jpg) center no-repeat;
    background-size: cover;
}

.section--map {
    padding: 40px 0;
    background: #808080 url(../images/images/map.jpg) center no-repeat / cover;
}


/*верхняя часть второго блока*/

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;
    text-align: center;
}


/*Надпись what we do*/

.section__suptitle {
    font-size: 24px;
    color: #333;
    font-family: 'Berlin Sans FB';
}


/*текст story about us*/

.section__title {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}


/*полоска под текстом*/

.section__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;
    background-color: #f62020;
}


/*картинки второго блока */

.card {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}


/*цветоекоррекция градиента */

.card__item {
    width: 380px;
    position: relative;
    background-color: #11dab5;
}


/*сдвиг левой картинки чуть вверх */

.card__item:hover .card__img {
    transform: translate3d( -10px, -10px, 0);
}

.card__item:hover .card__img img {
    opacity: .3;
}

.card__item:hover .card__text {
    opacity: 1;
}


/*градиент картинки*/

.card__img {
    background: radial-gradient( to bottom, #ff0000, #ff0000);
    transition: transform 0.1s linear;
}

.card__img img {
    display: block;
    transition: opacity 0.1s linear;
}


/*надпись текста внутри контейнера*/

.card__text {
    width: 100%;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    transition: opacity 0.2s linear;
}


/*STATISTICS*/


/*цифры которые идут в ряд*/

.statistics {
    background-color: #11dab5;
}


/*flex определяет ряд с вертикального в горизонтальный */

.stat {
    display: flex;
}


/*flex 1 1 0 разбивает колонки на одинаковую ширину + параметры div*/

.stat__item {
    flex: 1 1 0;
    padding: 70px 25px;
    border-left: 2px solid #fff;
    text-align: center;
    color: #fff;
}

.stat__item:last-child {
    border-right: 2px solid #fff;
}


/*редактирование цифры*/

.stat__count {
    margin-bottom: 10px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
}


/*редактирование текста в цифре*/

.stat__text {
    font-size: 14px;
    text-transform: uppercase;
}


/*стилизация третего блока*/

.services {
    display: flex;
}


/*стилизация иконок png*/

.services__item {
    flex: 1 1 0;
    padding-left: 90px;
    padding-right: 20px;
    position: relative;
}


/*расположение иконки*/

.services__icon {
    position: absolute;
    top: 0;
    left: 30px;
    z-index: 1;
}


/*стилизация текста рядом с иконкой*/

.services__title {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}


/*стилизация тектса*/

.services__text {
    font-size: 15px;
    color: #999;
}


/*картинка планшет*/

.devices {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.devices__item {
    display: block;
}


/*расположение айфона*/

.devices__item--mogo2 {
    position: absolute;
    bottom: -80px;
    right: 0;
    z-index: 1;
}


/*четвертый блок*/

.wedo {
    display: flex;
}

.wedo__item {
    width: 50%;
}


/*стилизация accordion*/

.accordion__item {
    margin-bottom: 10px;
    /*отступ от блоков */
    border: 1px solid #e5e5e5;
}

.accordion__item.active .accordion__content {
    display: block;
}


/**/

.accordion__item.active .accordion__header {
    border-bottom-color: #e5e5e5;
}


/*стрелки курсора фотографического блока*/

.accordion__item.active .accordion__header:after {
    transform: translateY(-50%)/*направление в градусах самой стрелки*/
    rotate(-45deg);
    margin-top: 5px;
}

.accordion__header {
    padding: 15px 20px 15px 65px;
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    cursor: pointer;
    display: block;
    overflow: hidden;
    /*меняет внешний вид курсора*/
}


/*стрелочка внутри фотографии*/

.accordion__header:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;
    transform: translateY(-50%) rotate(135deg);
}

.accordion__icon {
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;
    transform: translateY(-50%);
}

.accordion__content {
    padding: 15px 20px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 15px;
    color: #999;
    font-style: italic;
    font-weight: 300;
    opacity: 0;
    height: 0px;
    transition: all 1s;
}

.accordion__content.visible {
    opacity: 1;
    transition: all 1s;
    height: 333px;
}

.accordion__title {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}


/*reviews отзывы*/

.reviews {
    padding: 0 110px;
    /*отступы*/
    position: relative;
}

.reviews__item {
    padding-left: 205px;
    position: relative;
}


/*стилизация фото*/

.reviews__photo {
    border: 2px solid #11dab5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}


/*стилизация текста*/

.reviews__text {
    margin-bottom: 15px;
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    color: #999;
}

.reviews__author {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
}


/*добавление полоски*/

.reviews__author:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    background-color: #f52323;
    margin-right: 10px;
}


/*стилизация боковой стрелки*/

.reviews__btn {
    font-size: 0;
    color: transparent;
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}

.reviews__btn:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 2px solid #ff0000;
    border-left: 2px solid #ff0000;
}

.reviews__btn--prev {
    left: 0;
    transform: rotate(-45deg);
}

.reviews__btn--next {
    right: 0;
    transform: rotate(135deg);
}


/*Block Sosial*/

.social {
    display: flex;
    justify-content: center;
}


/*стилизация иконок внутри первой картинки*/

.social__item {
    width: 55px;
    height: 55px;
    padding: 12px 10px;
    background-color: #e0eb14;
    border-right: 1px solid #ea4444;
    font-size: 30px;
    color: #e64343;
    text-decoration: none;
    line-height: 1px;
    transition: background 0.1s linear, color 0.1s linear;
}


/*стилизация последнего значка*/

.social__item:last-child {
    border-right: 0;
}


/*Подсветка в значках белым цветом при новодке*/

.social__item:hover {
    color: #fff;
    background-color: #ea4040;
}


/*подпись под картинками */

.iner__text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 30px;
    position: relative;
}

.iner__floap {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    font-size: 30px;
    position: relative;
}

.iner__brows {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    font-size: 30px;
    position: relative;
}


/*Logos*/

.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*блок works шестой блок*/

.works {
    display: flex;
}

.works__col {
    flex: 1 1 0;
}

.works__item {
    position: relative;
    background: linear-gradient(to bottom, #f44242, #11dab5);
}

.works__item:hover .works__image {
    opacity: 0.1;
}

.works__item:hover .works__info {
    opacity: 1;
}

.works__image {
    width: 100%;
    max-width: 100%;
    height: auto;
    transition: opacity 0.2s linear;
    display: block;
}

.works__info {
    width: 100%;
    padding: 0, 15px;
    text-align: center;
    color: #fff;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translate3d(0, -50%, 0);
    transition: opacity 0.2s linear;
}

.works__title {
    margin-bottom: 5px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}

.works__text {
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}


/*clients*/

.clients {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}

.clients__item {
    width: 50%;
    padding: 0 45px 0 175px;
    position: relative;
    margin-bottom: 60px;
}

.clients__photo {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 40px;
    z-index: 1;
}

.clients__name {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.clients__prof {
    font-size: 15px;
    color: #333;
    font-style: italic;
    font-weight: 300;
}

.clients__text {
    font-size: 15px;
    color: #999;
}

.clients__text:before {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 15px 0;
    background-color: #f52020;
}


/*blogs*/

.blog {
    display: flex;
    justify-content: space-between;
}

.blog__item {
    text-align: center;
    width: 30%;
}

.blog__header {
    position: relative;
    margin-bottom: 14px;
}

.blog__photo {
    display: block;
    max-width: 100%;
    height: auto;
}

.blog_date-day {
    font-size: 30px;
    line-height: 1;
    font-weight: 700;
    font-style: normal;
}

.blog_content {
    margin-bottom: 10px;
}

.blog__title {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.blog__title a {
    color: inherit;
}

.blog-text {
    font-size: 15px;
    color: #999;
}

.blog__footer {
    padding-top: 14px;
    border-top: 1px solid #e5e5e5;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: #999;
}

.blog-stat__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.map {
    text-align: center;
}

.map__title {
    font-size: 24px;
    color: #f52020;
    font-weight: 700;
    text-transform: uppercase;
}

.map__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 15px auto 0;
    background-color: #f62020;
}

.map__title a {
    color: inherit;
    text-decoration: none;
}

.map__title a:hover {
    text-decoration: underline;
}

.copyright {
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;
    font-size: 14px;
    color: #333;
    text-align: center;
}

.copyright span {
    color: #ff0000;
}


/*форма регистрации*/

#table {
    background: none;
    color: #fff;
    text-align: right;
    width: 350px;
    height: 250px;
}

.input__images {
    width: 400px;
    position: absolute;
    left: 50%;
    margin-left: -889px;
}

#counter {
    text-align: center;
    background-color: none;
    color: #000000;
    font-size: 25px;
    font-family: Arial;
}

.counter__color {
    color: #ffd800;
}

#loginform {
    background-color: none;
}

.contackts {
    text-align: center;
}

h2 {
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 5px;
}

#inp {
    margin: 10px;
    padding: 10px;
}

#forma {
    background-color: #83baf0;
    height: 392px;
    width: 500px;
    border-radius: 10px;
    text-align: center;
    border: 15px;
    margin-left: auto;
    margin-right: auto;
}

input {
    margin-top: 10px;
    height: 40px;
    width: 300px;
    border-radius: 20px;
}

button {
    height: 40px;
    width: 100px;
    border-radius: 10px;
}

textarea {
    height: 150px;
    width: 450px;
}

.popup-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.8);
    display: none;
    z-index: 10;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 450px;
    background: seashell;
    padding: 50px;
    transform: translate(-50%, -50%);
    border: 2px solid rgb(22, 24, 22);
    box-shadow: #ccc;
    border-radius: 20px;
    background-image: url(images/mini_logo.jpg);
    color: rgb(22, 24, 22);
    font-weight: 300;
    font-family: cursive;
    font-size: 20px;
}

.close__popup {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.dws-button * {
    margin: 0;
    padding: 0;
}

.dws-button {
    font-family: Cuprum, Arial, Verdana, sans-serif;
    width: 250px;
    height: 70px;
    right: 25%;
    position: absolute;
    margin-top: 80px;
}

.b-demo,
.b-text,
.b-img,
.b-demo:before,
.b-img:after {
    position: absolute;
    transition: all 1.5s;
}

.dws-button a {
    text-decoration: none;
    color: #ffffff;
}

.b-demo,
.b-img {
    background: rgb(82, 46, 184);
}

.b-demo {
    width: 105px;
    line-height: 70px;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    padding: 0 10px 0 15px;
    left: 0;
    top: 0;
    z-index: 10;
    border-radius: 10px 0 0 10px;
    text-shadow: -1px -1px 1px #000000;
}

.b-text {
    background: rgb(86, 183, 224);
    color: #ffffff;
    font-size: 18px;
    width: 150px;
    line-height: 20px;
    text-align: center;
    padding: 10px 0 10px 10px;
    left: 5px;
    top: 5px;
}

.b-img {
    width: 65px;
    line-height: 45px;
    padding: 20px 0 0 20px;
    left: 110px;
    top: 0;
    border-radius: 0 10px 10px 0;
}

.b-demo:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-left: 10px solid rgb(82, 46, 184);
    border-bottom: 35px solid transparent;
    top: 0;
    left: 105px;
}

.b-img:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-left: 10px solid #5cb0e0;
    border-bottom: 35px solid transparent;
    top: 0;
    left: 0;
}


/* Animation :hover */

.dws-button a:hover .b-demo,
.dws-button a:hover .b-demo:before,
.dws-button a:hover .b-text,
.dws-button a:hover .b-img,
.dws-button a:hover .b-img:after {
    transition: all 0.5s;
}

.dws-button a:hover .b-demo {
    width: 50px;
    padding: 0 10px 0 10px;
    font-size: 20px;
}

.dws-button a:hover .b-demo:before {
    left: 69px;
}

.dws-button a:hover .b-img {
    left: 185px;
}

.dws-button a:hover .b-text {
    left: 50px;
}

.b-img img {
    transition: all 1.5s;
}

.dws-button a:hover img {
    transform: rotate(360deg);
    opacity: 0.5;
}


/* Animation :active */

.dws-button a:active .b-demo,
.dws-button a:active .b-img {
    background: rgb(242, 36, 4);
}

.dws-button a:active .b-text {
    background: rgb(33, 126, 167);
    box-shadow: 0 0 3px 1px #2b94bd;
}

.dws-button a:active img {
    transform: rotate(0deg);
    opacity: 1;
}